@import "color";
@import "sizes";
@import "common";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    // ===================================COLORS=======================================
    --gray-50: {$gray-50};
    --gray-100: #{$gray-100};
    --gray-200: #{$gray-200};
    --gray-300: #{$gray-300};
    --gray-400: #{$gray-400};
    --gray-500: #{$gray-500};
    --gray-600: #{$gray-600};
    --gray-700: #{$gray-700};
    --gray-800: #{$gray-800};
    --gray-900: #{$gray-900};
    --gray-950: #{$gray-950};


    // ===================================SIZES=======================================
    --text-xs: #{$text-xs};
    --text-sm: #{$text-sm};
    --text-base: #{$text-base};
    --text-xl: #{$text-xl};
    --text-2xl: #{$text-2xl};
    --text-3xl: #{$text-3xl};
    --text-4xl: #{$text-4xl};
}
