.main-container {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;

  .main-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: -0.025em;
    color: #111827;

    .main-container-logo {
      margin: 0 auto;
      width: fit-content;
    }
  }

  @media (min-width: var(--min-width-sm)) {
    padding: 0 1.5rem;
  }

  @media (min-width: var(--min-width-lg)) {
    padding: 0 2rem;
  }
}
